$color-white: #f1f1ef; //background
$color-dark1: #32273b; // fonts, footer shadow, text shadow
$color-dark-transparent: #26252788; // header background
$color-green-transparent: #0244104a; //overlay background

$gradient: linear-gradient(#31293d83, transparent);
