$color-white: #f1f1ef; //background
$color-dark1: #32273b; // fonts, footer shadow, text shadow
$color-dark2: #191021e8; // fonts, footer shadow, text shadow

$color-dark-transparent: #26252788; // header background
$color-dark-transparent2: #262527; // header background

$color-green-transparent: #04290d67; //overlay background

$gradient: linear-gradient(#31293d83, transparent);
