$color-white: #f1f1ef; //background
$color-dark1: #32273b; // fonts
$color-dark2: #32273b; //footer shadow, text shadow
$color-dark-transparent: #26252776; // header background
$color-green-transparent: #02442730; //overlay background

$gradient: linear-gradient(#31293d83, transparent);
