@import "reset";
@import "settings/fonts";
@import "settings/colors";

body {
  font-family: $font-base;

  position: relative;

  overflow-x: hidden;

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  h4 {
    font-size: 6rem;
    font-weight: 400;
  }
}
